<h1>Group Chat</h1>
<pre style="height:400px" id="output"></pre>
<form class="chat" id="chat">
  <div class="form-group">
    <button id="submitbutton" class="btn btn-primary">我要发言</button>
    <div class="col-lg-10">
        <input class="form-control" id="content" autofocus>
    </div>
  </div>
</form>
<button id="openbutton" class="btn btn-primary">开始聊天</button>
<button id="closebutton" class="btn btn-primary">关闭聊天</button>
<%= link_to 'group history', '/group_history/'+@activity_id.to_s, :class => 'btn btn-default' %>
<script type="text/javascript">
    $(document).ready(function(){
   var activity_id, socket, url, user_id, words;
    url = window.location.href;
    words = url.split('/');
    activity_id = words[words.length - 1];
    
    $("body").on("submit", "form.chat", function(event) {
        if(socket===undefined){
            alert("链接还没有打开");
            return false;
        }else if($('#content').val().trim()==""){
            alert("请编辑发言内容");
            return false
        }else{
            var $input;
            event.preventDefault();
            $input = $("#content");
            if (socket.readyState === socket.OPEN) {
                socket.send($input.val());
                $input.val("");
            }else {
                alert("链接已关闭");
            }
        }
    });
    
    $('#closebutton').click(function(){
        socket.close();
    });
    $('#openbutton').click(function(){
        if(socket===undefined || socket.readyState != socket.OPEN){
            socket = new WebSocket(("wss://" + window.location.host + "/chat_group/") + activity_id);
            socket.onopen = function(event) {
                $("#output").append("connected<br>");
                return false;
            };
            socket.onmessage = function(event) {
                if (event.data.length) {
                    $("#output").append(event.data + "<br>");
                }
            };
            socket.onclose = function(event) {
                $("#output").append("close<br>");
            };
        }else{
            alert("已经打开连接")
        }
    });
    })
</script>